<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Tough Spot Gym</string>
		<key>latitude</key>
		<real>-27.477016</real>
		<key>longitude</key>
		<real>153.012277</real>
		<key>distance</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>West End Boxing Gym</string>
		<key>latitude</key>
		<real>-27.480756</real>
		<key>longitude</key>
		<real>153.007897</real>
		<key>distance</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Healthworks West End</string>
		<key>latitude</key>
		<real>-27.480834</real>
		<key>longitude</key>
		<real>153.00821</real>
		<key>distance</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Momentum Fitness</string>
		<key>latitude</key>
		<real>-27.465577</real>
		<key>longitude</key>
		<real>153.027577</real>
		<key>distance</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Snap Fitness</string>
		<key>latitude</key>
		<real>-27.468635</real>
		<key>longitude</key>
		<real>153.002898</real>
		<key>distance</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>QUT KG Healthstream</string>
		<key>latitude</key>
		<real>-27.453214</real>
		<key>longitude</key>
		<real>153.008523</real>
		<key>distance</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>QUT GP Healthstream</string>
		<key>latitude</key>
		<real>-27.477488</real>
		<key>longitude</key>
		<real>153.028461</real>
		<key>distance</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Jetts Health Gym</string>
		<key>latitude</key>
		<real>-27.486554</real>
		<key>longitude</key>
		<real>153.035959</real>
		<key>distance</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>EFM Health Club Herston</string>
		<key>latitude</key>
		<real>-27.445713</real>
		<key>longitude</key>
		<real>153.02868</real>
		<key>distance</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Gym Nation</string>
		<key>latitude</key>
		<real>-27.482322</real>
		<key>longitude</key>
		<real>153.002473</real>
		<key>distance</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Body Transformation</string>
		<key>latitude</key>
		<real>-27.472458</real>
		<key>longitude</key>
		<real>153.014545</real>
		<key>distance</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Dundee&apos;s Fitness Gym</string>
		<key>latitude</key>
		<real>-27.477776</real>
		<key>longitude</key>
		<real>153.007106</real>
		<key>distance</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
